<!-- <div class="container"> -->
  <div class="mb-2">
    <button (click)="generate()" type="submit" class="btn btn-secondary mb-2 ">{{
      'common.'+buttonLibelle | translate }}
    </button>


  </div>

  <div class="row mb-3" *ngIf="rapportMode">
    <div>
      <button *ngIf="!estCopie" (click)="copier()" type="submit" class="btn btn-light bouton-copier me-2">{{
        'common.copier' | translate }}
      </button>

      <button *ngIf="estCopie" (click)="copier()" type="submit" class="btn btn-light bouton-copier me-2">{{
        'common.copie' | translate }}
      </button>

      <button (click)="masquer()" type="submit" class="btn btn-light bouton-copier">{{
        'common.masquer' | translate }}
      </button>
    </div>

    <textarea [(ngModel)]="rapport" (keyup)="texteAchange()" class="form-control" id="rapport" rows="20" [readonly]="readonly"
      placeholder="{{ 'common.rapport' | translate }}">
    </textarea>
  </div>
<!-- </div> -->


