<div class="container">

  <app-titre [libelle]="'page.reseau.liste_reseau'"></app-titre>

  <div class="row">
    <div class="mb-5 mt-3 col-12">
      <input type="text" class="form-control" id="recherche"
        placeholder="{{ 'common.rechercher' | translate}}" [formControl]="recherche">
    </div>
  </div>

  <div class="alert alert-success alert-dismissible mt-2" *ngIf="message">
    {{ message }}
  </div>

  <a [routerLink]="routeAddReseau" [ngStyle]="{'background': backgroundButtonAdd }"
    (mouseover)="ajouterReseauOver()" (mouseleave)="ajouterReseauBlur()" class="btn btn-secondary"
    title="{{ 'page.reseau.ajouter_reseau'| translate }}">
    <i class="bi bi-plus-circle"></i>
  </a>
  <hr />



  <table class="table table-striped">
    <thead>
      <tr [ngStyle]="{'color': secondaryColor }">
        <th scope="col">#</th>
        <th scope="col">{{ "page.liste_personnes.tableau.entete.nom" | translate }}</th>
        <th scope="col">{{ "common.taille" | translate }}</th>
        <th scope="col">{{ "page.reseau.nombre_gr" | translate }}</th>
        <th scope="col">{{ "common.action" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reseau of personnesRecherches; let numero = index">
        <th scope="row">{{ numero + 1 }}</th>
        <td> {{ reseau.nom }} </td>
        <td> {{ reseau.taille }} </td>
        <td> {{ reseau.nombreGR }} </td>
        <td>
          <i class="bi bi-card-text details" title="{{ 'page.liste_personnes.info.afficher_details' | translate }}"
            (click)="details(reseau.id)"> {{ 'common.details' | translate }}</i>
        </td>
      </tr>

    </tbody>
  </table>



  <div class="mt-5 mb-5"></div>
  <hr>
  <button class="btn btn-secondary" (click)="afficherFuturResponsable = true" *ngIf="(!afficherFuturResponsable && futurResponsables.length > 0)"> {{ 'page.liste_gr.text.afficher_responsable' | translate }} </button>
  <button class="btn btn-secondary" (click)="afficherFuturResponsable = false" *ngIf="afficherFuturResponsable"> {{ 'common.masquer' | translate }} </button>

  <div class="row mb-3" *ngIf="afficherFuturResponsable && futurResponsables.length > 0">
    <div class="row titre-liste-reseau ps-2 pt-2 pb-2 mb-3 mt-2">{{ 'page.liste_gr.text.liste_responsable_pas_valide_gr' | translate }}</div>


    <table class="table table-striped mb-3">
      <thead>
        <tr [ngStyle]="{'color': secondaryColor }">
          <th scope="col">#</th>
          <th scope="col">{{ "page.liste_gr.nom" | translate }}</th>
          <th scope="col">{{ "page.reseau.nom_reseau" | translate }}</th>
          <th scope="col">{{ "page.login.code" | translate }}</th>
          <th scope="col">{{ "page.liste_gr.action" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let responsable of futurResponsables; let numero = index">
          <th scope="row">{{ numero + 1 }}</th>
          <td> {{ responsable.prenom + ' '+ responsable.nom }} </td>
          <td> {{ responsable.nom_reseau }} </td>
          <td> {{ responsable.code }} </td>
          <td>
              <button *ngIf="!responsable.copier" (click)="copierCodeInClipboard(responsable)" class="btn btn-light bouton-copier"
                [ngStyle]="{'background': secondaryColor }">
                <i class="bi bi-files"></i>
              </button>
              <button *ngIf="responsable.copier" class="btn btn-light bouton-copier"
                [ngStyle]="{'background': secondaryColor }"><i class="bi bi-clipboard-check"></i></button>

              <button  *ngIf="!responsable.copier_lien" (click)="copierLinkInClipboard(responsable)" class="btn btn-light bouton-copier"
                [ngStyle]="{'background': secondaryColor }">
                <i class="bi bi-link"></i>
              </button>

              <button *ngIf="responsable.copier_lien" class="btn btn-light bouton-copier"
                [ngStyle]="{'background': secondaryColor }"><i class="bi bi-clipboard-check"></i></button>

          </td>
        </tr>

      </tbody>
    </table>

  </div>

</div>
