<div class="container">
  <app-titre [libelle]="'page.suggestion.titre'"></app-titre>
  <div class="row mt-5">
    <!--MESSAGE ALERT SUCCESS ERROR-->
    <div class="alert alert-success alert-dismissible mt-2" *ngIf="!error && saved">
      {{ 'page.detail_personne.sucess_message_suivi' | translate }}
    </div>

    <div class="alert alert-danger alert-dismissible mt-2" *ngIf="error">
      {{ 'page.detail_personne.error_message_suivi' | translate }}
    </div>


    <div class="mb-3">
      <label for="description_suggestion">{{ 'page.suggestion.libelle_suggestion' | translate }}</label>
      <textarea [(ngModel)]="suggestion" class="form-control" id="description_suivi" rows="3"
        >
      </textarea>




      <div class="row mt-3">
        <button (click)="enregistrerSuggestion()" [ngStyle]="{'backgroundColor': secondaryColor }"
        [disabled]="suggestion.trim().length === 0"
          class="btn ml-1 btn-secondary bouton-enregistrer col-md-6 col-sm-12 mb-2">{{ 'page.add_personne.enregistrer' | translate }}</button>
      </div>
    </div>

  </div>
</div>
