<div class="container">
  <div class="row">
    <div class="col-2  mt-3">
      <button class="btn bouton-retour" (click)="back()"><i class="bi bi-chevron-left"></i> {{ 'common.retour' |
        translate }}</button>
    </div>
    <div class="col-10">
      <app-titre [libelle]="'page.creer_gr.text.titre'"></app-titre>
    </div>
  </div>

  <div class="alert alert-success alert-dismissible mt-2" *ngIf="!error && saved">
    {{ 'page.creer_gr.text.sucess_message' | translate }}
  </div>

  <div class="alert alert-danger alert-dismissible mt-2" *ngIf="error">
    {{ 'page.creer_gr.text.error_message' | translate }}
  </div>


  <app-creation-modification-gr
    [personnes]="personnes"
    [errorGrNomVide]="errorGrNomVide"
    [responsables]="responsables"
    [gr]="gr"
    (dataGrChanged)="dataGrChanged($event)"
  >

  </app-creation-modification-gr>

  <div class="row mb-5" >
    <div class="col-sm-12 col-md-6">

      <button class="btn btn-light bouton-ajouter-responsable" title="{{ 'page.creer_gr.info.creer_gr' | translate }}"
      (click)="creerGR()">
      {{ 'page.creer_gr.text.creer_gr' | translate }} {{ gr.libelle }}
    </button>

  </div>
  </div>

</div>
