<div class="container">



  <div class="row  mt-5 mb-5">
    <div class="col-6">
      <a [routerLink]="routeListePersonneGr">{{ 'page.liste_personnes.listeParGr' | translate }} </a>
    </div>
  </div>


  <div class="row">
    <div class="mb-5 col-12">
      <input type="text" class="form-control" id="recherche"
        placeholder="{{ 'page.liste_personnes.rechercher' | translate}}" [formControl]="recherche">
    </div>
  </div>

  <div class="alert alert-success alert-dismissible mt-2" *ngIf="successMessage">
    {{ successMessage }}
  </div>

  <a [routerLink]="routeAddPersonne" [ngStyle]="{'background': backgroundButtonAdd }"
    (mouseover)="ajouterPersonneOver()" (mouseleave)="ajouterPersonneBlur()" class="btn btn-secondary"
    title="{{ 'page.liste_personnes.info.add_personne'| translate }}">
    <i class="bi bi-person-plus"></i>
  </a>
  <hr />
  <div class="row">
    <div class="col-3"> {{ 'page.liste_personnes.total' | translate }} : <span [ngStyle]="{'color': secondaryColor }">{{ personnes.length}}</span></div>
    <div class="col-3"> {{ 'page.liste_personnes.regulier' | translate }} : <span [ngStyle]="{'color': secondaryColor }"> {{nombreRegulier}}</span></div>
    <div class="col-3"> {{ 'page.liste_personnes.fidelisation' | translate }} : <span [ngStyle]="{'color': secondaryColor }"> {{nombreIntegration}}</span></div>
    <div class="col-3"> {{ 'page.liste_personnes.irregulier' | translate }} : <span [ngStyle]="{'color': secondaryColor }">{{ nombreIrregulier }}</span></div>
  </div>
  <hr />



  <table class="table table-striped">
    <thead>
      <tr [ngStyle]="{'color': secondaryColor }">
        <th scope="col">#</th>
        <th scope="col">{{ "page.liste_personnes.tableau.entete.nom" | translate }}</th>
        <th scope="col">{{ "page.liste_personnes.tableau.entete.ville" | translate }}</th>
        <th scope="col">{{ "page.liste_personnes.tableau.entete.gr" | translate }}</th>
        <th scope="col">{{ "page.liste_personnes.tableau.entete.status" | translate }}</th>
        <!--Couleur de fond Rouge: pas régulier, orange: en cours de fidélisation/ pas regulier-->
        <th scope="col">{{ "page.liste_personnes.tableau.entete.action" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let personne of personnesRecherches; let numero = index">
        <th scope="row">{{ numero + 1 }}</th>
        <td> {{ (personne.prenom | titlecase) + ' '+ (personne.nom | uppercase ) }} </td>
        <td> {{ personne.ville }} </td>
        <td> {{ (personne.gr.libelle == 'aucun_gr' ? 'common.aucun_gr' : personne.gr.libelle) | translate }}</td>
        <td> {{ 'page.liste_personnes.status.'+personne.status | translate }}</td>
        <td>
          <button class="btn btn-secondary" (click)="details(personne.id)">
            <i class="bi bi-card-text details" title="{{ 'page.liste_personnes.info.afficher_details' | translate }}"></i>
          </button>
          |
         <button class="btn btn-outline-secondary" (click)="modifier(personne)">
           <i class="bi bi-pencil details" title="{{ 'common.modifier' | translate }}"></i>
         </button>

        </td>
      </tr>

    </tbody>
  </table>



</div>
