.value-event {
  font-weight: bold;
}

.gr-libelle {
  background: black;
  color: white;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 5px;
}

.btn-light{
  border: 1px solid grey
}

