<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="preload">
  <header class="header row" [ngStyle]="{'background': backgroundColor, 'color':'white'}">
    <div class="col-9">

      <button class="header__button" id="btnNav" type="button" (click)="showMenu()" *ngIf="userExiste">
        <i class="material-icons">menu</i>
      </button>

      <button class="header__button mr-sm-2" type="button" [ngClass]="{'ms-5': !userExiste }" (click)="cliquerNomReseau()">
        {{ nomReseau | uppercase }}
      </button>
    </div>

    <div class="col-3" *ngIf="username" (click)="userSetup()">
      <span class="user-setup">
        <i class="material-icons account mt-2 me-2">account_circle</i>
        <span >{{ username }}</span>
      </span>
    </div>

  </header>




  <nav class="nav" [ngClass]="{'nav--open': menuOpened }">
    <div class="nav__links" [@openCloseMenu]="menuOpened? 'openMenu': 'closeMenu'">
      <!-- <a href="#" class="nav__link" (click)="closeMenu('listeBrebis')">
        <i class="material-icons">groups</i>
        {{'menu.liste' | translate}}
      </a>
      <a href="#" class="nav__link" (click)="closeMenu('presenceCulte')">
        <i class="material-icons">home</i>
        {{'menu.culte' | translate}}
      </a>
      <a href="#" class="nav__link" (click)="closeMenu('listeGR')">
        <i class="material-icons">local_library</i>
        {{'menu.liste_gr' | translate}}
      </a> -->

      <a [routerLink]="menuItem.class" *ngFor="let menuItem of menuItems" href="#" class="nav__link" (click)="closeMenu(menuItem.class)" [ngClass]="{ 'nav__link--active': menuItem.class === menuActive }" [ngStyle]="{color: menuItem.class === menuActive? secondaryColor : ''}">
        <i class="material-icons">{{menuItem.icone}}</i>
        {{ menuItem.libelle | translate}}
      </a>

      <!-- Langues -->
      <div class="ms-2 me-2 mt-3">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="langage" (change)="changeLangage()">
          <option
              *ngFor="let langue of langues"
              [value]="langue.code"
              [selected]="langue === langue"
              >
              {{ langue.libelle | translate }}
            </option>
        </select>
      </div>

    </div>
    <div class="nav__overlay" (click)="closeMenu('exit')"></div>


  </nav>
  <main>
    <!--<app-liste-personnes *ngIf="menuActive === classMenuItem.LISTE_PERSONNE"></app-liste-personnes>-->
    <router-outlet></router-outlet>

  </main>
</body>


</html>
