.bouton-ajouter-responsable {
  border: 1px solid grey;
}

.liste-personne {
  border: rgb(138, 137, 137);
  background: rgba(138, 137, 137, 0.3);
  padding-top: 15px;
  padding-bottom: 5px;
}

.bouton-generer {
  cursor: pointer;
  background: grey;
}

.bouton-copier {
  color: white;
}

.surligner {
  background-color: rgb(206, 206, 206);
  padding-top: 10px;
  padding-bottom: 10px;
}
