<div class="row mt-5">
  <div class="col-12">{{ 'page.creer_gr.text.nom_gr' | translate }}<span class="obligatoire">*</span></div>
</div>


<div class="row">

  <div class="col-12">
    <div class="row">
      <div class="col-md-12 col-lg-6 mb-3 form-group">
        <input type="text" class="form-control " id="nom" [(ngModel)]="gr.libelle" (input)="saisirNomGr()">
        <small class="message_erreur" *ngIf="errorGrNomVide">{{ 'page.creer_gr.text.nom_gr_obligatoire' | translate }}</small>
      </div>

    </div>
  </div>

  <div class="col-12 mb-3 form-group">
    <!-- L'AUTRE MOITIE -->

      <button (click)="ajouterResponsable()" class="btn btn-light bouton-ajouter-responsable"
        title="{{ 'page.creer_gr.info.definir_responsable' | translate }}" *ngIf="!afficherResponsable">
        <i class="bi bi-person-plus-fill"></i> {{ 'page.creer_gr.text.responsables' | translate }}
      </button>

      <div *ngIf="afficherResponsable">


        <div class="row mb-3 ">
          <div class="col-12 liste-personne">

            <div class="form-check" *ngFor="let personne of personnes">
              <input type="checkbox" class="form-check-input" [(ngModel)]="personne.checked" (change)="validerResponsable()"
                [id]="'cocher'+personne.id">
              <label class="form-check-label" [for]="'cocher'+personne.id"> {{ personne.prenom }} {{ personne.nom
                }}</label>
            </div>

          </div>
        </div>

        <button class="btn btn-light bouton-ajouter-responsable" (click)="masquerResponsable()">
          {{ 'common.masquer' | translate }}
        </button>



      </div>

  </div>



  <div>



    <div class="row mt-5 mb-3" *ngIf="responsables.length > 0">
      <hr />
      <div class="col-12">{{ 'page.creer_gr.text.responsables' | translate }}</div>
    </div>

    <div class="row mb-3" *ngFor="let responsable of responsables">
      <div class="col-5"><input type="text" class="form-control" [(ngModel)]="responsable.prenom+' '+responsable.nom"
          readonly></div>
      <div class="col-5">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="responsable.code" readonly>
          <div class="input-group-append bouton-generer" (click)="genererCode(responsable)">
            <span class="input-group-text btn btn-secondary" id="basic-addon2"><i
                class="bi bi-arrow-clockwise"></i></span>
          </div>
        </div>
      </div>

      <div class="col-2" *ngIf="!responsable.copier">
        <button (click)="copierCodeInClipboard(responsable)" class="btn btn-light bouton-copier"
          [ngStyle]="{'background': secondaryColor }">
          <i class="bi bi-files"></i>
        </button>
      </div>
      <div class="col-1" *ngIf="responsable.copier"><button class="btn btn-light bouton-copier"
          [ngStyle]="{'background': secondaryColor }"><i class="bi bi-clipboard-check"></i></button></div>
    </div>


  </div>

</div>
