.link {
  cursor: pointer;
}

.titre-participant {
  background-color: lightgray;
  padding: 10px;
}

.error {
  color: red;
}

.libelle_invite {
  background: black;
  color: white;
  padding: 2px;
  border-radius: 3px
}
