<div class="row mt-5">
  <div class="col-md-6 col-sm-12 mb-3 form-group">
    <label for="nom"> {{ 'page.add_personne.nom' | translate }}</label>
    <input type="text" class="form-control" id="nom" [(ngModel)]="personne.nom" (ngModelChange)="personne.nom = $event.toUpperCase()">
    <small class="form-text message_erreur" *ngIf="validation.nomPrenomVide">{{ 'page.add_personne.nom_prenom_manquant' |
      translate }}</small>
  </div>

  <div class="col-md-6 col-sm-12 mb-3 form-group">
    <label for="prenom">{{ 'page.add_personne.prenom' | translate }}</label>
    <input type="text" class="form-control" id="prenom" [(ngModel)]="personne.prenom"  (ngModelChange)="personne.prenom = inTitleCase($event)">
    <small class="form-text message_erreur" *ngIf="validation.nomPrenomVide">{{ 'page.add_personne.nom_prenom_manquant' |
      translate }}</small>
  </div>

  <div class="col-md-6 col-sm-12 mb-3 form-group">
    <label for="numero">{{ 'page.add_personne.numero' | translate }}</label>
    <input type="text" class="form-control" id="numero" [(ngModel)]="personne.telephone">

  </div>

  <div class="col-md-6 col-sm-12 mb-3 form-group">
    <label for="email">{{ 'page.add_personne.email' | translate }}</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="personne.email">
    <small class="form-text message_erreur" *ngIf="validation.emailInvalide">{{ 'page.add_personne.email_invalide' | translate
      }}</small>
  </div>

  <div class="col-md-6 col-sm-12 mb-3 form-group">
    <label for="ville">{{ 'page.add_personne.ville' | translate }}</label>
    <input type="text" class="form-control" id="ville" [(ngModel)]="personne.ville" list="datalist_ville" autocomplete="off">
  </div>
  <datalist id="datalist_ville">
    <option *ngFor="let ville of villes" [value]="ville">{{ ville }}</option>
  </datalist>

  <div class="col-md-6 col-sm-12 mb-3 form-group">
    <label for="pays">{{ 'page.add_personne.pays' | translate }}</label>
    <input type="text" class="form-control" id="pays" [(ngModel)]="personne.pays" list="datalist_pays" autocomplete="off">
  </div>
  <datalist id="datalist_pays">
    <option *ngFor="let currentPays of pays" [value]="currentPays">{{ currentPays }}</option>
  </datalist>

  <div class="col-md-6 col-sm-12 mb-3 form-group">
    <label for="status">{{ 'page.add_personne.status' | translate }}</label>
    <div>
      <select class="form-select" aria-label="Default select example" [(ngModel)]="personne.status">
        <option *ngFor="let status of listeStatus; let i = index" [value]="status.libelle" [selected]="!personne.id && status.selected">{{
          'page.liste_personnes.status.'+status.libelle | translate}}</option>
      </select>
    </div>
  </div>

  <div class="col-md-6 col-sm-12 mb-3 form-group">
    <label for="gr-value">GR</label>
    <div>
      <select
        *ngIf="currentUserRole !== role_responsable_gr"
        class="form-select" aria-label="Default select example" [(ngModel)]="personne.gr.id">
        <option value="0">{{ 'common.aucun_gr' | translate }}</option>
        <option *ngFor="let gr of grs" [value]="gr.id">{{ gr.libelle }}</option>
      </select>

      <input *ngIf="currentUserRole === role_responsable_gr" type="text" class="form-control" disabled [value]="grName" />
    </div>
  </div>

  <div class="col-md-6 col-sm-12 mb-3 form-group">
    <label for="dateNaissance">{{ 'page.add_personne.date_naissance' | translate }}</label>
    <input type="text" class="form-control" id="dateNaissance" [(ngModel)]="personne.date_naissance" maDate
      placeholder="jj/mm/aaaa" (keyup)="normaliserDateNaissance()"/>
    <small class="form-text message_erreur" *ngIf="validation.dateNaissanceInvalide">{{ 'page.add_personne.date_invalide' |
      translate }}</small>
  </div>


  <div class="col-md-6 col-sm-12 mb-3 form-group">
    <label for="datenaissance">{{ 'page.add_personne.date_evangelisation' | translate }}</label>
    <input type="text" class="form-control" id="datenaissance" [(ngModel)]="personne.date_evangelisation"
      placeholder="jj/mm/aaaa">
    <small class="form-text message_erreur" *ngIf="validation.dateEvangelisationInvalide">{{ 'page.add_personne.date_invalide' |
      translate }}</small>
  </div>

  </div>
