/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

.obligatoire {
  color: red;
}

.message_erreur {
  color: red;
  font-style: italic;
}

.bordure-gris, .bordure-gris:hover {
  border: 1px solid gray;
}
