.details {
  cursor: pointer;
}

.tableau-donnees tr td:nth-of-type(2){
  color: blue;

}

.details-gr {
  cursor: pointer;
}

.accordion-item {
  border:1px solid grey;
}

.bouton-confirmer-fermeture {
  margin: 0 !important;
}
